In [22]:
import base64


def encode(name):
    return base64.b64encode(name.encode())

In [19]:
import pandas as pd
data=pd.read_csv("data.csv")
data.head()

         name       contact
0  Qasim Abid  923111705924

In [23]:
data['encoded']=data['name'].map(lambda x: encode(x))

In [24]:
data

         name       contact              encoded
0  Qasim Abid  923111705924  b'UWFzaW0gQWJpZA=='

b'TXIgYW5kIE1ycyBadXJhaXo='